<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huevo Frito</title>
    <link rel="stylesheet" href="../css/style.view.css">
</head>
<body>

    <nav>
        <ul>
            <li>
  
 
  <a href="../index.html">Volver</a>

            </li>
        </ul>
    </nav>

  
  <div class="contenedor">

        <div>


            <h1>Huevo Fritas</h1> 
            <img src="../img/huevo.jpg" alt="huevo frito" width="250px" height="200px">
            <h2>Ingredientes</h2> 
          <ul>
          <li>1  o mas huevos</li>
          <li>aceite de vegetal</li>
          <li>sal</li>
          </ul>
          <h2>Elaboracion (Pasos)</h2>
          <ol>
          <li>Calentear un poco de aceite en el sarten</li>
          <li>Romper el huevo</li>
          <li>Freir el hyuevo a gusto</li>
          <li>Servir el huevo en el plato </li>
          <li>Poner sal a gusto</li>
          </ol>   
        </div>


  </div> 
      

</body>
</html>

        
