<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollo frito</title>
    <link rel="stylesheet" href="../css/style.view.css">
</head>
<body>
    
    <nav class="nav">
        <ul>
            <li>
  
 
  <a href="../index.html">Volver</a>

            </li>
        </ul>
    </nav>



    <div class="contenedor">
        <div>
            <h1>Pollo al horno</h1> 
            <h5>Receta de pollo al horno caseras.</h5> 
            
            <img src="../img/pollo.jpg" alt='Huevo' width="250"
                   height="200"
                  /> 
            
            <h2>Ingredientes</h2> 
            <ul>
              <li>1 Pollo completo</li>
              <li>2 dientes de ajo</li>
              <li>Provenzal</li>
              <li>sal</li>
              <l1>Mostaza</l1>
              <li>1 limon</li>
              <li>Peregil</li>
            </ul>
            <h2>Elaboracion (Pasos)</h2>
            <ol>
              <li>Cortar y separar cada pieza del pollo</li>
              <li> Hacerle corte a las pizas del pollo </li>
            
              <ol>
                  En un recipiente
                   <li>Picar el diente de ajo y colocarlo dentro del recipiente </li>
                   <li>colocar sal a gusto</li>
                   <li>mostaza a gusto</li>
                   <li>Porvenzal a gusto</li>
                   <li>Picar cantodad a gusto de peregil</li>
                   <li>Añadir jugo de limon</li>
                   <li>Mesclar todo el contenido</li>
              </ol>
            
              <li>Mesclar el contenido del recipiente con el Pollo, procurar que dentro de los cortes entren contenido</li>
              <li> Colocar el Pollo en el Horno durante 1:30 una hora y media</li>
            </ol>

        </div>
       

  </div>



</body>
</html>
