<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquitectura de Sistema Operativo</title>
    <link rel="stylesheet" href="../css/styles.view.css">

</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="../index.html">Volver</a>
            </li>
        </ul>
    </nav>

    <div class="contenedor">
        <div class="con-img">

            <img src="../img/arq.png" alt="" >
        </div>
        <div>
                <h1> Materia</h1>
            <p>Nombre de la Materia :<strong> Arquitectura y sistema Operativo</strong></p>  <br>
            <p>Docente a cargo:<strong> ing. Maria Gutierrez</strong></p> <br>  <br>
            <p>Horario :<strong> Lunes y viernes de 18:10 a 20:10 
                                
            </strong></p>  <br>
            <p>Description :<strong>Materia en que que se enseña como es la extrutura de software</strong></p> <br> 
            <p>Link de clase: <strong> <a href="#">El link cambia en todas las clase</a> </p>  <br>
      
            <p>Grupo de Wasap: <strong> <a href="#">Sin link</a></strong></p> 
        </div>
    </div>
      
</body>
</html>