<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadistica</title>
    <link rel="stylesheet" href="../css/styles.view.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="../index.html">Volver</a>
            </li>
        </ul>
    </nav>
    <div class="contenedor">
        <div class="con-img">
            <img src="../img/Est.png" alt="">
        </div>
        <div>
                    <h1>Materia</h1>
            <p>Nombre de la Materia :<strong> Estadistica</strong></p>  <br>
              <p>Docente a cargo:<strong>Ing. Ruth Diaz Alberti</strong></p>  <br>
              <p>Horario :<strong>Lunes de 20:10 a 22:15<br>
                  Martes de 18:10 a 19:10 <br>
                  juevez de 21:10 a 22:10
              </strong></p>  <br>
              <p>Description :<strong>Ciencia que utiliza conjuntos de datos numéricos para obtener, <br> a partir de ellos, inferencias basadas en el cálculo de probabilidades </strong></p> <br> 
              <p>Link de clase: <strong> <a href="">El link lo envia la profesora</a> </strong></p>  <br>
        
              <p>Grupo de Wasap<strong> <a href="">No tengo el link del wasap</a></strong></p> 

        </div>
    </div>
</body>
</html>