<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio II</title>
    <link rel="stylesheet" href="../css/styles.view.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="../index.html">Volver</a>
            </li>
        </ul>
    </nav>
    <nav>
    

        

        
        <div class="contenedor">
            <div class="con-img">
                    <img src="../img/lab.png" alt="">
                </div>
              <div>  
            <p>Nombre de la Materia :<strong> Lavoratorio II</strong></p>  <br>
              <p>Docente a cargo:<strong> Ing. Ernesto Bayurk</strong></p>  <br>
              <p>Horario :<strong> Martes de 19:10 a 22:10 <br>
                Jueves de 20:10 a 21:10 </strong></p>  <br>
              <p>Description :<strong>Proporciona la base para  la programacion en C#</strong></p> <br> 
              <p>Link de clase: <strong> <a href="https://utn.zoom.us/j/6830208264">Entrar</a> </strong></p>  <br>
        
              <p>Grupo de Wasap<strong> <a href="">No tengo el link</a></strong></p> 
        </div>
    </div>
</body>
</html>