<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodologia de la Investigacion</title>
    <link rel="stylesheet" href="../css/styles.view.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="../index.html">Volver</a>
            </li>
        </ul>
    </nav>

    <div class="contenedor">
        <div class="con-img">
            <img src="../img/meto.png" alt="">
        </div>
        <div>
                <h1> Materia</h1>
            <p>Nombre de la Materia :<strong> Metodologia de la investigacion</strong></p>  <br>
            <p>Docente a cargo:<strong>Lic. Maria Lopez</strong></p>  <br>
            <p>Horario :<strong>Jueves de 18:10 a 20:10</strong></p>  <br>
            <p>Description :<strong>Esta materia enseña el proceso de armado de un proyecto</strong></p> <br> 
            <p>Link de clase: <strong> <a href="https://utn.zoom.us/j/8520520593?pwd=MVA1b0Z6cXBESUJhWm9obW5DTlA5Zz09">Entrar</a> </strong></p>  <br>
      
            <p>Grupo de Wasap<strong> <a href="">No tengo link</a></strong></p> 
        </div>
    </div>

   
</body>
</html> 