<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programacion II</title>
    <link rel="stylesheet" href="../css/styles.view.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="../index.html">Volver</a>
            </li>
        </ul>
    </nav>

    <div class="contenedor">
        <div class="con-img">
            <img src="../img/Pro.png" alt="">
        </div>
        <div>

            <p>Nombre de la Materia :<strong> Programacion II</strong></p>  <br>
              <p>Docente a cargo:<strong>Ing. Ricardo Silva Teseira</strong></p>  <br>
              <p>Horario :<strong> Miercoles y Viernes de 20:30 a 22:10</strong></p>  <br>
              <p>Description :<strong>Programar es el proceso de crear un conjunto de instrucciones para decirle a una computadora cómo realizar una tarea.</strong></p> <br> 
              <p>Link de clase: <strong> <a href="https://utn.zoom.us/j/84707091823?pwd=dHAwUGZiZmRMSjc2cXFjalhiMTVXUT09">Entrar</a> </strong></p>  <br>
        
              <p>Grupo de Wasap<strong> <a href="">No tengo link</a></strong></p> 

        </div>
    </div>
</body>
</html>